        main {
            display: grid;
            grid-template-columns: 30% 65%;
            gap: 30px;
            margin-bottom: 75px;
        }

        .image-box img {
            width: 100%;
            height: auto;
        }

        .text-section article {
            background: #fdfdfd;
            padding: 20px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            border-radius: 15px;
        }